<form action="/@me?_method=PUT" method="POST" enctype="multipart/form-data">
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName" id="firstName" value="<%= firstName %>" />
  <br />

  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName" id="lastName" value="<%= lastName %>" />
  <br />

  <label for="username">Username:</label>
  <input type="text" name="username" id="username" value="<%= username %>" disabled />
  <br />

  <label for="tel">telephone:</label>
  <input type="tel" name="tel" id="tel" value="<%= tel %>" />
  <br />

  <label for="email">email:</label>
  <input type="email" name="email" id="email" value="<%= email %>" />
  <br />

  <label for="about">about:</label>
  <textarea name="about" id="about"><%= about %></textarea>
  <br />

  <input type="checkbox" name="commercial" id="commercial" <% if (commercial) { %> checked disabled <% } %> />
  <label for="commercial">Are you a commercial user?</label>
  <br />

  <input type="file" name="avatar" />

  <% if (avatar) { %>
  <h4>Current Avatar</h4>
  <img src="/static/avatars/<%= avatar %>" alt="current avatar">
  <% } %>

  <button type="submit">submit</button>
</form>