<link rel="stylesheet" href="/assets/css/cart/cart.css">
<%- include('../partials/_navbar.ejs') %>
<ul>
  <% cart.items.forEach((item) => { %>
  <li class="product">
    <img src="/static/products/<%= item.itemId %>/<%= items[item.itemId].pictures[0] %>" onerror="this.onerror=null; this.src='/assets/default_product.jpg';">
    <div class="order-information">

      <p><%= items[item.itemId].title %></p>
      <p><%= items[item.itemId].shortDesc %></p>
      <p>Quantity: <%= item.quantity %></p>
    </div>
  </li>
  <% }) %>

  <form action="/cart/checkout" method="POST">
    <button>checkout</button>

  </form>
</ul>