<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eco <%= product.title %></title>
  </head>
  <body>
    <h2><%= product.title %></h2>
    <div class="product-price"><%= product.price %></div>
    <div class="product-quantity"><%= product.quantity %></div>
    <div class="product-desription"><%= product.shortDesc %></div>
  </body>
</html>
